* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

section {
    margin: 0;
    padding: 50px 0;
}

/*Skills section*/
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 7%;
}
.container-icons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-icons .icons-box {
    width: 14%; /* Adjust width to accommodate 7 icons per row */
    margin-bottom: 10px;
}
.box-icon {
    font-size: 80px;
}