/*
set colors::
#f2f6f6 white
#93DCE3 blue light
#4CA6C1 darker blue light
#768E72 light green
#243B4C dark blue green

*/

/*General Style*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.headings,
.sub-headings {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}

.headings,
.sub-headings {
    /* color: #2B2524; */
    color: black;
    /* background-color: #009ffe; */
}

.sub-headings {
    font-size: 20px;
    /* color: #243b4c; */
    /* font-weight: bold; */
}

.center {
    text-align: center;
}

body,
header {
    margin: 0;
    padding: 0;
}

p {
    font-size: 15px;
    padding-top: 2%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

section {
    margin: 0;
    /* padding: 50px 0; */
}

.white {
    color: #fff;
}

/*Style buttons*/
.button-test {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 7px 0;
}

.inverted-color {
    background-color: #243B4C !important;
    color: #FFFFFF !important;
    border: none !important;
}

.button-test {
    background-color: #4CA6C1;
    border: 2px solid #243B4C;
    color: #FFFFFF;
}

.button-test span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-test span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.button-test:hover {
    background-color: #243b4c;

}

.submit-button:hover {
    background-color: #4CA6C1;
}

.button-test:hover span {
    padding-right: 15px;
}

.button-test:hover span:after {
    opacity: 1;
    right: 0;
}


/*landing section*/
.logo {
    height: 50px;
    width: 100%;
}

.landing-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: radial-gradient(#f2f6f6, #4CA6C1);
    overflow: hidden;
    display: block;
}

.index-1 {
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.2); */
    text-align: center;

}

.index-2 {
    z-index: 2;
    position: absolute;
}

.landing-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 80%;
    margin: 5% 10%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sticker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sticker div {
    position: absolute;
    display: block;
}

.small-animation {
    width: 55px;
    height: 55px;
}

.sticker div:nth-child(1) {
    left: 20%;
    animation: fall 15s linear infinite;
    animation-delay: -2s;

}

.sticker div:nth-child(2) {
    left: 70%;
    animation: fall 15s linear infinite;
    animation-delay: -4s;
}

.sticker div:nth-child(3) {
    left: 40%;
    animation: fall 20s linear infinite;
    animation-delay: -7s;
}

.sticker div:nth-child(4) {
    left: 50%;
    animation: fall 18s linear infinite;
    animation-delay: -5s;
}

.sticker div:nth-child(5) {
    left: 85%;
    animation: fall 14s linear infinite;
    animation-delay: -5s;
}

.sticker div:nth-child(6) {
    left: 15%;
    animation: fall 16s linear infinite;
    animation-delay: -10s;
}

@keyframes fall {
    0% {
        opacity: 1;
        top: -10%;
        transform: translateX (20px) rotate(0deg);
    }

    20% {
        opacity: 0.8;
        transform: translateX (-20px) rotate(45deg);
    }

    40% {

        transform: translateX (-20px) rotate(90deg);
    }

    60% {

        transform: translateX (-20px) rotate(135deg);
    }

    80% {

        transform: translateX (-20px) rotate(180deg);
    }

    100% {

        top: 110%;
        transform: translateX (-20px) rotate(225deg);
    }
}

.sticker-reverse {
    transform: rotateX(180deg);
}



/*separate  section*/
.border-div {
    width: 100%;
    height: 100px;
    /* Adjust the height of the border */
    position: relative;
    /* Ensure proper positioning */
}

svg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    /* Position the SVG within the container */
    top: 0;
    left: 0;
}

img.small-object-right {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 10%;
    right: 10px;
    transform: translateY(-10%);
    /* Center vertically */
    z-index: 1;
    /* Ensure image is above the SVG */
}

img.small-object-left {
    position: absolute;
    height: 95px;
    width: 95px;
    top: 10%;
    left: 10px;
    transform: translateY(-10%);
    /* Center vertically */
    z-index: 1;
    /* Ensure image is above the SVG */
}



/*About section*/
.about-section {
    position: relative;
    overflow: hidden;
    height: 650px;
    top: 0;
    /* Start right after the landing section */
    /* background-color: #f0f0f0; */
    /* background-color: #f2f6f6; */
    /* background-color: #85c2ff; */
    background-color: #93DCE3;
    /* background: radial-gradient(#f2f6f6, #243B4C); */
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-text-side,
.about-img-side {
    width: 45%;
    flex-direction: row;
}

.frame {
    width: 70%;
    height: 80%;
    margin: 10% 15%;
    border-radius: 20%;
    opacity: 0;
    /* Initially hide the image */
    transition: opacity 1s ease;
    /* Smooth transition effect */
}

.visible {
    opacity: 1;
}

.enter-animation {
    opacity: 0;
    transition: opacity 4s ease;
    /* Adjust the duration here */
}

.enter-animation.visible {
    opacity: 1;
}

.about-text-side {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* Start opacity */
    }

    to {
        opacity: 1;
        /* End opacity */
    }
}


/*Skills section*/
.skills-section {
    /* background: radial-gradient(#f0f0f0, #98ACB9); */
    /* background: radial-gradient(#BBAA95, #bb611d); */
    width: 100%;
    height: 700px;
    background-color: #f2f6f6;

}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 7%;
}

.container-icons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-icon {
    font-size: 30px;
}

.profile-img>img {
    /* border-radius: 50%; */
    height: 350px;
    width: 50%;
    /* background-color: black; */
}


.box {
    position: relative;
    /* Change from absolute to relative */
    width: 80%;
    height: 300px;
    margin: 50px auto;
    background: transparent;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    display: flex;
}

.box .skill {
    position: relative;
    flex: 1;
    text-align: center;
}

.box .skill .chart {
    position: absolute;
    width: 40px;
    background: rgba(0, 0, 0, 1);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box .skill .chart:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 2px;
    top: 2px;
    left: 2px;
    background: linear-gradient(0deg, #243b4c, #93DCE3);
}

.box .skill .chart:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}

.box .skill .chart .percent {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    font-weight: bold;
}

.box .skill .name {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* color: #2B2524; */
    color: black;
    /* background: #001e8a; */
    padding: 2px 6px;
    border-radius: 4px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill-image {
    width: 20%;
    margin: auto;
}

.sticker-skill {
    height: 170px;
    width: 70%;
    border-left: 4px solid black;
    /* border-bottom: 4px solid black; */
}


/* Project section */
.projects {
    background-color: #f2f6f6;
}

.container-projects {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-box-align: start;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.justify {
    justify-content: flex-end;
}

.right {
    flex-direction: row;
}

.left {
    flex-direction: row-reverse;
}

.project-text {
    padding-top: 1%;
    padding-right: 5%;
    width: 45%;
}

.list {
    padding-left: 1rem;
    padding-top: 0;
    /* margin: 0; */
}

.text-right {
    padding-top: 1%;
    padding-left: 5%;
    width: 50%;
    text-align: right;
}

.project-img {
    height: 400px;
    text-align: center;
    display: flex;
    /* padding: 30px; */
    width: 55%;
}

img {
    width: 100%;
    height: 100%;
    display: flex;
    /* text-align: left; */
}

.box-icon-small {
    font-size: 40px;
}

/* Contact section */

.contact-section {
    /* background: radial-gradient(#f2f6f6, #4CA6C1); */
    background-color: #93DCE3;


}

.container-contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* border: 5px solid #243B4C; */
    /* background-color: transparent; */
    /* background: radial-gradient(#f2f6f6, #4CA6C1); */
    background-color: transparent;

    /* background-color: #4CA6C1; */
    color: #243B4C;
}

.contact-form {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.contact-social {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-social>p {
    align-items: center;
}

.container-text-sticker {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.container-icons-small {
    height: 30%;
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.contact-social-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70px;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.contact-sticker {
    height: 70%;
    width: 30%;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text {
    font-size: 18px;
    /* font-style: italic; */
    font-weight: 600;
    padding: 10% 5% 0 5%;
    line-height: 200%;
}

/* #id_name{
    height: 50px;
    width: 300px;
} */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #243b4c;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Additional styles for specific inputs */
input[type="text"],
input[type="email"] {
    height: 40px;
    /* Adjust height as needed */
}

textarea {
    height: 200px;
    /* Adjust height as needed */
    resize: vertical;
    /* Allow vertical resizing */
    border: 2px solid #243b4c !important;
}

.container-icons-small {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Icons evenly spaced */
    padding: 0 20px;
    /* Adjust padding for spacing between icons */
}

.container-icons-small-small {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

/* media query for screen size 1025 */
@media (max-width: 1025px) {

    /* landing section */
    .profile-img>img {
        height: 350px;
        width: 80%;
    }

    .landing-container {
        height: auto;
    }

    .landing-section {
        height: 650px;
    }

    /* about section */

    .wrapper {
        padding: 0 2%;
    }

    p,
    .list {
        font-size: 13px;
    }

    .frame {
        width: 90%;
        margin: 10% 5%;
    }

    /* projects section */
    .container-projects {
        padding-left: 2%;
        padding-right: 2%;
    }

    .project-text {
        padding-left: 5%;
    }

    .text-right {
        padding-right: 5%;
    }

    .container-icons-small-small {
        padding: 0;
    }
}

/* media query for screen size 992px */
@media (max-width: 992px) {

    /* landing section */
    .landing-container {
        height: 75vh;
    }

    /* skills section */
    .name {
        font-size: 14px;
    }

    /* about section */
    .about-container {
        justify-content: space-around;
    }

    /* contact section */
    .space-evenly {
        justify-content: space-evenly !important;
    }

    .container-icons-small-small {
        flex-direction: column;
    }

    .contact-text {
        font-size: 15px;
    }

    .contact-sticker {
        width: 40%;
        margin: 0 5%;
    }

    /* project section */
    .text-right {
        width: 40%;
    }

    .project-text {
        padding-right: 0;
        width: 40%;
    }
}

/* media query for screen size 810px */
@media (max-width: 810px) {

    /* general section */
    section {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    /* skills section */
    .skills-container {
        flex-direction: column;
    }

    .sticker-skill {
        height: 130px;
        width: 100%;
    }

    .container-icons-small-small {
        justify-content: center;
    }

    .box {
        position: relative;
        width: 95%;
        height: 250px;
        margin: 50px auto;
    }

    /* about section */
    .frame {
        width: 90%;
        margin: 25% 5%;
        height: 400px;
    }

    .about-text-side,
    .about-img-side {
        width: 50%;
    }

    .about-text-side {
        padding: 0 0 0 2%;
    }

    .about-text {
        margin: 0;
    }
}

/* media query for screen size 768px */
@media (max-width: 768px) {

    /* landing section */
    .landing-container {
        height: 100%;
    }

    /* skills section */
    .skills-section {
        height: 750px;
    }

    .sticker-skill {
        padding-top: 10%;
    }

    .box .skill .chart {
        width: 25px;
        left: 50%;
    }

    .box .skill .chart .percent {
        font-weight: normal;
        font-size: 12px;
    }

    .box .skill .name {
        bottom: -50px;
        left: 50%;
        padding: 2px 6px;
    }

    .name {
        font-size: 9px;
    }

    .box-icon {
        font-size: 28px;
    }

    img.small-object-left,
    img.small-object-right {
        height: 80px;
        width: 85px;
    }


    /* project section */
    .project-text {
        padding: 0;
        width: 50%;
    }

    img {
        height: 80%;
    }

    .container-projects {
        padding-top: 1%;
    }

    .box-icon-small {
        font-size: 30px;
    }

    /* contact section */
    .contact-sticker {
        height: 60%;
    }
}

/* media query for screen size 415px */
@media (max-width: 415px) {

    /* landing section */
    .headings,
    .sub-headings {
        text-align: center;
    }
    .no-padding{
        padding: 0;
    }
    .sub-headings {
        padding-bottom: 4%;
    }

    .landing-container {
        height: 100%;
        width: 100%;
        margin: 5% 0 0 0;
    }

    .profile-img>img {
        height: 300px;
        width: 90%;
    }

    .landing-section {
        height: 550px;
    }

    .small-animation {
        width: 35px;
        height: 35px;
    }

    /* skills section */
    .box {
        width: 95%;
        height: 200px;
        margin: 10px auto;
    }

    .box .skill .chart {
        width: 25px;
        left: 50%;
    }

    .box .skill .chart .percent {
        font-weight: normal;
        font-size: 12px;
    }

    .box .skill .name {
        bottom: -50px;
        left: 50%;
        padding: 2px 6px;
    }

    .name {
        font-size: 8px;
    }

    .box-icon {
        font-size: 24px;
    }

    .skills-section {
        height: 550px;
    }

    img.small-object-left,
    img.small-object-right {
        height: 80px;
        width: 85px;
    }

    .sticker-skill {
        height: 90px;
        width: 100%;
    }

    /* about section */
    .frame {
        margin: 5%;
        height: 250px;
    }

    .about-container {
        flex-direction: column-reverse;
    }

    .about-text-side {
        width: 90%;
        margin: 0 5%;
    }

    .about-img-side {
        width: 70%;
        margin: 0 15%;
        height: 300px;
    }

    .about-section {
        height: 850px;
    }

    /* project section */
    .container-projects {
        flex-direction: column !important;
    }

    .project-text,
    .project-img {
        width: 100%;
    }

    .project-img {
        height: 350px;
        padding: 5% 0;
    }

    .project-img>img {
        height: 90%;
    }

    .project-name {
        padding-top: 0;
        font-size: 18px;
    }

    .project-name,
    .project-info {
        text-align: center;
    }

    .justify-center {
        justify-content: center;
    }

    .project-links {
        text-align: center !important;
    }

    .center-p {
        text-align: center;
    }

    .justify {
        justify-content: center;
    }

    /* contact section */
    .container-contact {
        flex-direction: column-reverse;
    }

    .contact-social,
    .contact-form {
        width: 90%;
        margin: 5% 5% 0 5%;
    }

    .contact-social-icon {
        height: 45px;
    }
    .contact-text {
        padding: 0 5% 5%;
        line-height: 150%;
    }
}

/* media query for screen size 390px */
@media (max-width: 390px) {
    /* landing section */
    .landing-container {
        flex-direction: column-reverse;
    }
    .profile-img>img {
        height: 150px;
        width: 50%;
        margin: 0 25%;
    }
    .landing-container {
        margin: 0;
    }
    .landing-section {
        height: 620px;
    }
    .p-landing{
        padding-top: 30%;
    }
    /* skills section */
    .name {
        font-size: 6.5px;
    }
    /* about section */
    .about-section {
        height: 950px;
    }
    .project-img {
        height: 300px;
    }
}

/* media query for screen size 320px */
@media (max-width: 320px) {
    /* landing section */
    .small-animation {
        width: 30px;
        height: 30px;
    }
    /* about section */
    .about-section {
        height: 990px;
    }
    .project-img {
        height: 300px;
    }
    .about-img-side {
        width: 70%;
        margin: 0 15%;
        height: 220px;
    }
    .frame {
        margin: 3%;
        height: 200px;
    }
}