/*
set colors::
#f2f6f6 white
#93DCE3 blue light
#4CA6C1 darker blue light
#768E72 light green
#243B4C dark blue green

*/

/*General Style*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

.headings, .sub-headings {  
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0;
}
.headings, .sub-headings{
    /* color: #2B2524; */
    color: black;
    /* background-color: #009ffe; */
}
.sub-headings{
    font-size: 20px;
    /* color: #243b4c; */
    /* font-weight: bold; */
}
.center{
    text-align: center;
}
body, header {
    margin: 0;
    padding: 0;
  }

p{
    font-size: 15px;
    padding-top: 2%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

section {
    margin: 0;
    /* padding: 50px 0; */
}
.white{
    color: #fff;
}

/*Style buttons*/
.button-test {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CA6C1;
    border: 2px solid #243B4C;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 7px 0;
   }
   
.button-test span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
.button-test span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
.button-test:hover{
    background-color: #243b4c;

}
.button-test:hover span {
    padding-right: 15px;
   }
   
.button-test:hover span:after {
    opacity: 1;
    right: 0;
   }


/*landing section*/
.landing-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: radial-gradient(#f2f6f6, #4CA6C1);
    overflow: hidden;
    display: block;
}

.index-1{
    z-index: 1;
}
.index-2{
    z-index: 2;
}
.landing-container{
    display: flex;
    height: 100%;
    width: 80%;
    margin: 5% 10%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.test{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
}
.test div{
position:absolute ;
display:block ;
}
.small-animation{
    width: 55px;
    height: 55px;
} 
.test div:nth-child(1){
    left:20%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;

}
.test div:nth-child(2){
    left:70%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}
.test div:nth-child(3){
    left:40%; 
    animation:fall 20s linear infinite ;
    animation-delay:-7s;
}
.test div:nth-child(4){
    left:50%; 
   animation:fall 18s linear infinite ; 
   animation-delay:-5s;
}
.test div:nth-child(5){
    left:85%; 
    animation:fall 14s linear infinite ;
    animation-delay:-5s;
}
.test div:nth-child(6){
    left:15%; 
    animation:fall 16s linear infinite ;
    animation-delay:-10s;
}

@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX (20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{

        transform:translateX (-20px) rotate(90deg);
    }
    60%{
        
       transform:translateX (-20px) rotate(135deg); 
    }
    80%{
    
        transform:translateX (-20px) rotate(180deg);
    }
    100%{
        
        top:110%;
        transform:translateX (-20px) rotate(225deg);
    }
    }
.test1{
    transform: rotateX(180deg);
}



/*separate  section*/
.border-div {
    width: 100%;
    height: 100px; /* Adjust the height of the border */
    position: relative; /* Ensure proper positioning */
  }
  
  svg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute; /* Position the SVG within the container */
    top: 0;
    left: 0;
  }
  img.small-object {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 10%; /* Adjust according to your design */
    right: 10px; /* Adjust according to your design */
    transform: translateY(-10%); /* Center vertically */
    z-index: 1; /* Ensure image is above the SVG */
}

/*About section*/
.about-section {
    position: relative;
    height: 650px;
    top: 0; /* Start right after the landing section */
    /* background-color: #f0f0f0; */
    /* background-color: #f2f6f6; */
    /* background-color: #85c2ff; */
    background-color: #93DCE3;
    /* background: radial-gradient(#f2f6f6, #243B4C); */
}

.about-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-text-side, .about-img-side{
    width: 45%;
    flex-direction: row;
}
.frame{
    width: 70%;
    height: 80%;
    margin: 10% 15%;
    /* border: 6px solid black; */
    border-radius: 20%;
}

  .about-text-side {
    opacity: 0; 
    animation: fadeIn 2s ease forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start opacity */
    }
    to {
        opacity: 1; /* End opacity */
    }
}


/*Skills section*/
.skills-section{
    /* background: radial-gradient(#f0f0f0, #98ACB9); */
    /* background: radial-gradient(#BBAA95, #bb611d); */
    width: 100%;
    height: 700px;
    background-color: #f2f6f6;

}
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 7%;
}
.container-icons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-icon {
    font-size: 30px;
}
.profile-img>img{
    /* border-radius: 50%; */
    height: 350px;
    width: 50%;
    /* background-color: black; */
}


.box {
    position: relative; /* Change from absolute to relative */
    width: 80%;
    height: 300px;
    margin: 50px auto;
    background: transparent;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    display: flex;
}

.box .skill{
    position: relative;
    flex: 1;
    text-align: center;
}

.box .skill .chart{
    position: absolute;
    width: 40px;
    background: rgba(0,0,0,1);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box .skill .chart:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 2px;
    top: 2px;
    left: 2px;
    background: linear-gradient(0deg, #243b4c, #93DCE3);
}

.box .skill .chart:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}

.box .skill .chart .percent{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    font-weight: bold;
}

.box .skill .name{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* color: #2B2524; */
    color: black;
    /* background: #001e8a; */
    padding: 2px 6px;
    border-radius: 4px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill-image {
    width: 20%;
    margin: auto;
}

.sticker-skill {
    height: 170px;
    width: 70%;
    border-left: 4px solid black;
    /* border-bottom: 4px solid black; */
}


/* Project section */
.projects{
    background-color: #f2f6f6;
}
.container-projects{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-box-align: start;
    padding-top: 5%;
}
.right{
    flex-direction: row;
}
.left{
    flex-direction: row-reverse;
}
.project-text{
    padding-top: 3%;
    padding-right: 5%;
    width: 50%;
}

.text-right{
    padding-top: 3%;
    padding-right: 5%;
    width: 50%;
    text-align: right;
}
.project-img {
    height: 400px;
    text-align: center;
    display: flex;
    padding: 30px;
}
img {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
}
.box-icon-small {
    font-size: 40px;
}