{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

<!-- test section-->
<section class="test-section">
    <div class="test">
        <div>
            <img src="{% static 'images/sticker_praying_transp.png' %}" alt="email icon" class="small-animation">
        </div>
        <div>
            <img src="{% static 'images/sticker_standing-transp.gif' %}" alt="email icon" class="small-animation">
        </div>
        <div>
            <img src="{% static 'images/sticker.webp' %}" alt="email icon" class="small-animation">
        </div>
        <div>
            <img src="{% static 'images/sticker.webp' %}" alt="email icon" class="small-animation">
        </div>
        <div>
            <img src="{% static 'images/sticker_dancing.webp' %}" alt="email icon" class="small-animation">
        </div>
    </div>
    <!-- New set of div elements -->
    <div class="test test1">
        <div>
            <img src="{% static 'images/sticker_praying.webp' %}" alt="email icon" class="small-animation reverse">
        </div>
        <div>
            <img src="{% static 'images/sticker_standing.webp' %}" alt="email icon" class="small-animation reverse">
        </div>
        <div>
            <img src="{% static 'images/sticker.webp' %}" alt="email icon" class="small-animation reverse">
        </div>
        <div>
            <img src="{% static 'images/sticker.webp' %}" alt="email icon" class="small-animation reverse">
        </div>
        <div>
            <img src="{% static 'images/sticker_dancing.webp' %}" alt="email icon" class="small-animation reverse">
        </div>
    </div>
</section>



<!-- Mashead header-->
<header class="masthead">
    <div class="container px-md-4">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <!-- Picture -->
                <div class="profile-img">
                    <img class="" src="{% static 'images/sticker_standing-transp.gif' %}" alt="profile picture">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <p>Hello! 👋 My name is</p>
                    <h1>Michelle Mattera</h1>
                    <p><span id="headline"></span></p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="me-lg-3 mb-4 mb-lg-0 white" aria-label="Linkedin"
                            href="https://www.linkedin.com/in/michelle-mattera-a5283019b/" target="_blank"
                            rel="noopener" title="Link for Linkedin (opens in a new page)"><img class="app-badge"
                                src="{% static 'images/linkedin.icon.svg' %}" alt="linkedin icon" /></a>
                        <a class="me-lg-3 mb-4 mb-lg-0 white" aria-label="Github" href="https://github.com/michmattera"
                            target="_blank" rel="noopener" title="Link for Github (opens in a new page)"><img
                                class="app-badge" src="{% static 'images/github.icon.svg' %}" alt="github icon" /></a>
                        <a class="me-lg-3 mb-4 mb-lg-0 white" aria-label="Email" href="" target="_blank" rel="noopener"
                            title="Link for Email (opens in a new page)"><img class="app-badge"
                                src="{% static 'images/email.icon.svg' %}" alt="email icon" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About section-->
<section class="about-section">
    <div class="wrapper">
        <div>
            <h2>About me!</h2>
            <p class="about-text">Hey there! 👋 I'm Michelle, a web wizard with a penchant for pixels and a knack for
                coding magic. When I'm not crafting beautiful websites, you'll find me lost in a world of coffee, code,
                and cat videos.

                Born to click, scroll, and code my way through the digital universe, I thrive on turning complex
                problems into pixel-perfect solutions. From elegant designs to seamless user experiences, I'm here to
                make the web a better place, one line of code at a time.

                With a cup of coffee in one hand and a keyboard in the other, I'm on a mission to create web experiences
                that not only dazzle but also delight users. So let's collaborate, innovate, and make some internet
                magic together!</p>
            <!-- Picture -->
            <!-- <div class="profile-img">
                <img class="" src="{% static 'images/profile.jpg' %}" alt="profile picture">
            </div> -->
        </div>
    </div>
</section>


<!-- Skills and Tools section-->
<section>
    <div class="wrapper">
        <h2>Skills and Tools</h2>
        <h3>Things I can do</h3>
        <p>Empowering your project with a diverse arsenal of skills, tools, and cutting-edge technologies to breathe
            life into your vision.</p>
        <div class="container-icons">
            <div class="icons-box">
                <i class="box-icon devicon-html5-plain"></i>
                <p>HTML5</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-css3-plain"></i>
                <p>CSS3</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-javascript-plain"></i>
                <p>Javascript</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-python-plain"></i>
                <p>Python</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-jquery-plain"></i>
                <p>JQuery</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-github-original"></i>
                <p>GitHub</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-git-plain"></i>
                <p>Git</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-heroku-original"></i>
                <p>Heroku</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-pandas-plain"></i>
                <p>Pandas</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-mysql-original"></i>
                <p>MySql</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-mongodb-plain"></i>
                <p>MongoDb</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-bootstrap-plain"></i>
                <p>Bootstrap</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-amazonwebservices-plain-wordmark"></i>
                <p>Amazon Web Services</p>
            </div>
            <div class="icons-box">
                <i class="box-icon devicon-matplotlib-plain"></i>
                <p>Matplotlib</p>
            </div>
        </div>
    </div>
</section>

<!-- Project section-->
<section class="projects" id="projects">
    <div class="wrapper">
        <h2>Projects</h2>
        <h4>A selection of things I built</h4>
        <div class="container-projects">
            <div class="project-text">
                <h3>Newline Alebrije</h3>
                <p>In need of an Alebrije? Read about your spiritual guide from the world of the death and complete the
                    form to match with one.</p>
                <div class="container-icons-small">
                    <i class="box-icon-small devicon-html5-plain"></i>
                    <p>HTML5</p>
                </div>
                <div class="icons-box">
                    <i class="box-icon-small devicon-css3-plain"></i>
                    <p>CSS3</p>
                </div>
                <div class="project-links">
                    <a href="#" class="orange">Live demo</a>
                    <a href="#" class="orange">Github link</a>
                </div>
            </div>
            <div class="project-img">
                <img class="" src="{% static 'images/screenshot-am-I-responsive-alebrije.png' %}" alt="profile picture">
            </div>
        </div>
    </div>
</section>


{% endblock %}