{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}



<!-- Mashead header-->
<header class="header">
    <section class="landing-section">
        <div class="landing-container">
            <div class="col-lg-6 order-lg-2">
                <!-- Picture -->
                <div class="profile-img">
                    <img class="" src="{% static 'images/sticker_standing-transp.gif' %}" alt="profile picture">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start index-1">
                    <p>Hello! 👋 My name is</p>
                    <h1 class="headings">Michelle Mattera</h1>
                    <p><span id="headline"></span></p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="me-lg-3 mb-4 mb-lg-0 white" aria-label="Linkedin"
                            href="https://www.linkedin.com/in/michelle-mattera-a5283019b/" target="_blank"
                            rel="noopener" title="Link for Linkedin (opens in a new page)"><img class="app-badge"
                                src="{% static 'images/linkedin.icon.svg' %}" alt="linkedin icon" /></a>
                        <a class="me-lg-3 mb-4 mb-lg-0 white" aria-label="Github" href="https://github.com/michmattera"
                            target="_blank" rel="noopener" title="Link for Github (opens in a new page)"><img
                                class="app-badge" src="{% static 'images/github.icon.svg' %}" alt="github icon" /></a>
                        <a class="me-lg-3 mb-4 mb-lg-0 white" aria-label="Email" href="" target="_blank" rel="noopener"
                            title="Link for Email (opens in a new page)"><img class="app-badge"
                                src="{% static 'images/email.icon.svg' %}" alt="email icon" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- sticker section-->
        <!-- <section class="test-section"> -->
        <div class="test">
            <div class="index-2">
                <img src="{% static 'images/sticker-okay.webp' %}" alt="email icon" class="small-animation">
            </div>
            <div>
                <img src="{% static 'images/sticker-crying.webp' %}" alt="email icon" class="small-animation">
            </div>
            <div>
                <img src="{% static 'images/sticker.webp' %}" alt="email icon" class="small-animation">
            </div>
            <div>
                <img src="{% static 'images/sticker_thinking.webp' %}" alt="email icon" class="small-animation">
            </div>
            <div>
                <img src="{% static 'images/sticker_dancing.webp' %}" alt="email icon" class="small-animation">
            </div>
        </div>
        <!-- New set of div elements -->
        <div class="test test1">
            <div>
                <img src="{% static 'images/sticker-okay.webp' %}" alt="email icon" class="small-animation reverse">
            </div>
            <div>
                <img src="{% static 'images/sticker-crying.webp' %}" alt="email icon" class="small-animation reverse">
            </div>
            <div>
                <img src="{% static 'images/sticker.webp' %}" alt="email icon" class="small-animation reverse">
            </div>
            <div>
                <img src="{% static 'images/sticker_thinking.webp' %}" alt="email icon" class="small-animation reverse">
            </div>
            <div>
                <img src="{% static 'images/sticker_dancing.webp' %}" alt="email icon" class="small-animation reverse">
            </div>
        </div>
    </section>
</header>

<!-- Div to separate sections -->
<div class="border-div">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="0 0 100 10 0 10" fill="#f2f6f6" />
    </svg>
    <img src="static/images/sticker-eye.webp" alt="Small object" class="small-object-right">
</div>

<!-- Skills and Tools section-->
<section class="skills-section" id="skills-section">
    <div class="wrapper">
        <h2 class="headings center">Skills and Tools</h2>
        <h3 class="sub-headings center">Things I can do</h3>
        <div class="skills-container">
            <div class="skill-image">
                <img src="{% static 'images/sticker-wall.webp' %}" alt="sticker standing " class="sticker-skill">
            </div>
            <div class="box">
                <div class="skill">
                    <div class="chart" style="height: 95%;">
                        <div class="percent">95%</div>
                    </div>
                    <div class="name">HTML5
                        <div class="icons-box">
                            <i class="box-icon devicon-html5-plain"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 90%;">
                        <div class="percent">90%</div>
                    </div>
                    <div class="name">CSS3
                        <div class="icons-box">
                            <i class="box-icon devicon-css3-plain"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 80%;">
                        <div class="percent">80%</div>
                    </div>
                    <div class="name">Javascript
                        <div class="icons-box">
                            <i class="box-icon devicon-javascript-plain"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 90%;">
                        <div class="percent">90%</div>
                    </div>
                    <div class="name">Python
                        <div class="icons-box">
                            <i class="box-icon devicon-python-plain"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 85%;">
                        <div class="percent">85%</div>
                    </div>
                    <div class="name">MySql
                        <div class="icons-box">
                            <i class="box-icon devicon-mysql-original"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 80%;">
                        <div class="percent">80%</div>
                    </div>
                    <div class="name">MongoDb
                        <div class="icons-box">
                            <i class="box-icon devicon-mongodb-plain"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 95%;">
                        <div class="percent">95%</div>
                    </div>
                    <div class="name">Heroku
                        <div class="icons-box">
                            <i class="box-icon devicon-heroku-original"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 70%;">
                        <div class="percent">70%</div>
                    </div>
                    <div class="name">AWS
                        <div class="icons-box">
                            <i class="box-icon devicon-amazonwebservices-plain-wordmark"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 95%;">
                        <div class="percent">95%</div>
                    </div>
                    <div class="name">Bootstrap
                        <div class="icons-box">
                            <i class="box-icon devicon-bootstrap-plain"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 95%;">
                        <div class="percent">95%</div>
                    </div>
                    <div class="name">Jupiter
                        <div class="icons-box">
                            <i class="box-icon devicon-jupyter-plain"></i>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="chart" style="height: 75%;">
                        <div class="percent">75%</div>
                    </div>
                    <div class="name"> Matplotlib
                        <div class="icons-box">
                            <i class="box-icon devicon-matplotlib-plain"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<!-- Div to separate sections -->
<div class="border-div">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="100 0 100 10 0 10" fill="#93DCE3" />
    </svg>
    <img src="static/images/sticker-okay.webp" alt="Small object" class="small-object-left">
</div>


<!-- About section-->
<section class="about-section" id="about-section">
    <div class="wrapper">
        <div class="about-container">
            <div class="about-text-side" id="about-text">
                <h2 class="headings">About me!</h2>
                <h4 class="headings">I am a curiosity driven Full Stack Developer.</h4>
                <p class="about-text">Greetings! 🎮 As a curiosity-driven Full-Stack Developer, I thrive on the
                    intersection
                    of creativity and logic. I'm on a mission to craft immersive digital experiences that captivate and
                    inspire. 🚀</p>
                <p class="about-text">When I'm not knee-deep in code, you'll likely find me immersed in the worlds of
                    video
                    games, unraveling intricate puzzles, or lost in the pages of a fantastical adventure. 🎲 I'm a proud
                    advocate for animals 🐾, an avid reader of fantasy novels 📚, and a seeker of inspiration from every
                    corner of life. 🌟</p>
                <p class="about-text">I have a diploma in Full Stack Software development from the Code Institute,
                    specialized in data analysis. My journey has equipped me with the skills to tackle complex problems
                    and
                    create innovative solutions. 🔧</p>
                <p class="about-text">I believe that hard work, a cup of tea ☕, and a cat 🐱 can solve everything. With
                    this
                    philosophy in mind, I approach every challenge with determination and creativity, striving to make a
                    positive impact in the world of technology. 💡</p>
            </div>

            <!-- Picture -->
            <div class="about-img-side">
                <img class="frame" src="{% static 'images/profile.jpg' %}" alt="profile picture">
            </div>
        </div>
    </div>
</section>


<!-- Div to separate sections -->
<div class="border-div">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="0 0 100 10 0 10" fill="#f2f6f6" />
    </svg>
    <img src="static/images/sticker-good.png" alt="Small object" class="small-object-right">
</div>


<!-- Project section-->
<section class="projects" id="projects-section">
    <div class="wrapper">
        <h2 class="headings center">Projects</h2>
        <h4 class="headings center">A selection of things I built</h4>
        <div class="container-projects right">
            <div class="project-text">
                <h3>Heart Disease Analysis And Prediction</h3>
                <p class="">The purpose of this machine learning project was to allow the user to predict heart disease
                    based on a combination of features. In addiction it shows to the user how these features correlate
                    with the final prediction.</p>
                <div class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="icons-box">
                        <i class="box-icon-small devicon-python-plain"></i>
                    </div>
                    <div class="container-icons-small">
                        <i class="box-icon-small devicon-jupyter-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-matplotlib-plain"></i>
                    </div>
                </div>
                <div class="project-links">
                    <button class="button-test">
                        <a href="https://heart-disease-analysis-predict-cabfe9c52b02.herokuapp.com/"
                            aria-label="Live Demo Heart Disease Project" target="_blank" rel="noopener"
                            title="Link for Live Demo Heart Disease Project (opens in a new page)">
                            <span class="small">Live Demo</span>
                        </a>
                    </button>
                    <button class="button-test">
                        <a href="https://github.com/michmattera/heart-disease-analysis-and-prediction"
                            aria-label="Github Repository Heart Disease project" target="_blank" rel="noopener"
                            title="Link for GitHub Repository (opens in a new page)">
                            <span class="small">Github Repo</span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="project-img">
                <img class="" src="{% static 'images/responsive-heart.png' %}"
                    alt="portfolio project 1">
            </div>
        </div>


        <div class="container-projects left">
            <div class="project-text text-right">
                <h3>HerBody</h3>
                <p class="">This is a complete CRUD functionality project. Is an application for an only girls Gym, where the user can create a profile and then book a free private
                    self-defense lesson, later on the user can review, edit or delete the lesson if needed.</p>
                <div class="d-flex flex-column flex-lg-row align-items-right justify-content-end">
                    <div class="container-icons-small">
                        <i class="box-icon-small devicon-html5-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-css3-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-javascript-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-python-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-mysql-original"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-heroku-original"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-bootstrap-plain"></i>
                    </div>
                </div>
                <div class="project-links">
                    <button class="button-test">
                        <a href="https://her-body.herokuapp.com/" aria-label="Live Demo HerBody Project" target="_blank"
                            rel="noopener" title="Link for Live Demo HerBody Project (opens in a new page)">
                            <span class="small">Live Demo</span>
                        </a>
                    </button>
                    <button class="button-test">
                        <a href="https://github.com/michmattera/HerBody/tree/main?tab=readme-ov-file"
                            aria-label="Github Repository" target="_blank" rel="noopener"
                            title="Link for GitHub Repository (opens in a new page)">
                            <span class="small">Github Repo</span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="project-img">
                <img class="" src="{% static 'images/responsive-herbody.png' %}"
                    alt="portfolio project 1">
            </div>
        </div>


        <div class="container-projects right">
            <div class="project-text">
                <h3>VetSeed</h3>
                <p class="">This is a back-end program for veterinarians to do the following:</p>
                <ul class="list">
                    <li>Calcolate and save data of dogs.</li>
                    <li>Calcolate if the dog is underweight, overweight or in ideal weight.</li>
                    <li>Calcolate as well calories per day that dog should take based on weight and life stage.</li>
                    <li>Get general information about dogs.</li>
                    <li>Be able to save more dogs and have them display all together.</li>
                </ul>
                <div class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="container-icons-small">
                        <i class="box-icon-small devicon-html5-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-css3-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-python-plain"></i>
                    </div>
                </div>
                <div class="project-links">
                    <button class="button-test">
                        <a href="https://vet-seed.herokuapp.com/" aria-label="Live Demo VetSeed Project" target="_blank"
                            rel="noopener" title="Link for Live Demo VetSeed Project (opens in a new page)">
                            <span class="small">Live Demo</span>
                        </a>
                    </button>
                    <button class="button-test">
                        <a href="https://github.com/michmattera/vet-seed" aria-label="Github Repository" target="_blank"
                            rel="noopener" title="Link for GitHub Repository (opens in a new page)">
                            <span class="small">Github Repo</span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="project-img">
                <img class="" src="{% static 'images/responsive-vet-seed.png' %}"
                    alt="portfolio project 1">
            </div>
        </div>

        <div class="container-projects left">
            <div class="project-text text-right">
                <h3>Star Wars Quiz</h3>
                <p class="">This is a fun and interactive quiz for all Star Wars fans. It tests all star wars fans for
                    knowledge on how much they know about the Star Wars world.</p>
                <div class="d-flex flex-column flex-lg-row align-items-right justify-content-end">
                    <div class="container-icons-small">
                        <i class="box-icon-small devicon-html5-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-css3-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-javascript-plain"></i>
                    </div>
                </div>
                <div class="project-links">
                    <button class="button-test">
                        <a href="https://michmattera.github.io/star-wars-quiz/" aria-label="Live Demo Star wars quiz Project" target="_blank" rel="noopener"
                            title="Link for Live Demo Star wars quiz Project (opens in a new page)">
                            <span class="small">Live Demo</span>
                        </a>
                    </button>
                    <button class="button-test">
                        <a href="https://github.com/michmattera/star-wars-quiz" aria-label="Github Repository Star wars quiz Project"
                            target="_blank" rel="noopener" title="Link for GitHub Repository (opens in a new page)">
                            <span class="small">Github Repo</span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="project-img">
                <img class="" src="{% static 'images/responsive-star-wars.png' %}"
                    alt="portfolio project 1">
            </div>
        </div>

        <div class="container-projects right">
            <div class="project-text">
                <h3>NEWLINE ALEBRIJE</h3>
                <p class="">In need of an Alebrije? Read about your spiritual guide from the world of the death and
                    complete the
                    form to match with one.</p>
                <div class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="container-icons-small">
                        <i class="box-icon-small devicon-html5-plain"></i>
                    </div>
                    <div class="icons-box">
                        <i class="box-icon-small devicon-css3-plain"></i>
                    </div>
                </div>
                <div class="project-links">
                    <button class="button-test">
                        <a href="https://michmattera.github.io/newline-alebrije/" aria-label="Live Demo Newline Alebrije Project" target="_blank" rel="noopener"
                            title="Link for Live Demo Newline Alebrije Project (opens in a new page)">
                            <span class="small">Live Demo</span>
                        </a>
                    </button>
                    <button class="button-test">
                        <a href="https://github.com/michmattera/newline-alebrije" aria-label="Github Repository Newline alebrije Project"
                            target="_blank" rel="noopener" title="Link for GitHub Repository (opens in a new page)">
                            <span class="small">Github Repo</span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="project-img">
                <img class="" src="{% static 'images/alebrije_responsive.png' %}"
                    alt="portfolio project 1">
            </div>
        </div>

    </div>
</section>

<!-- Div to separate sections -->
<div class="border-div">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="100 0 100 10 0 10" fill="#93DCE3" />
    </svg>
    <img src="static/images/sticker-okay.webp" alt="Small object" class="small-object-left">
</div>

<!-- Contact section -->
<section class="contact-section" id="contact-section">
    <div class="wrapper">
        <h2>Contact</h2>
        <h4>Get in touch!</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
         </form>
    </div>
</section>



{% endblock %}