{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

<section>
    <div class="wrapper">
        <div class="success">
            <h1>Thank you for your inquiry</h1>
            <p>Your contact information and message was successfully submitted.</p>
            <p>Click here to go back to the HomePage.</p>
            <div class="success-container-sticker">
                <img src="{% static 'images/sticker-good.png' %}" alt="sticker good" class="success-sticker">
            </div>
            <!-- <button class="button-test" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <a href="{% url 'home' %}">HomePage</span></a>
            </button> -->
            <button class="button-test">
                <a href="{% url 'home' %}"
                    aria-label="Link to go to HomaPage"
                    title="Link for HomaPage">
                    <span class="small">HomaPage</span>
                </a>
            </button>
        </div>
    </div>
</section>

{% endblock %}